/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/.htaccess
/app/Telegram/Api/config.php
/app/Telegram/Api/objects.php
/app/Telegram/index.php
/database/migrations/2017_10_02_144315_add_evnet_create_guild.php
/.php_cs.cache
/bin/php-cs-fixer
/bin/php-parse
/bin/phpunit
/bin/psysh
