.rp-main-background-0 {
    background: url('../img/bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.rp-main-background-0 a {
    color: purple;
}

.rp-main-background-0 a:hover {
    color: mediumpurple;
}

.rp-main-background-1 {
    background: url('../img/bg1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.rp-main-background-1 a {
    color: orange;
}

.rp-main-background-1 a:hover {
    color: yellow;
}

.rp-main-background-2 {
    background: url('../img/bg2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.rp-main-background-2 a {
    color: red;
}

.rp-main-background-2 a:hover {
    color: orangered;
}

.rp-main-background-3 {
    background: url('../img/bg3.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.rp-main-background-3 a {
    color: green;
}

.rp-main-background-3 a:hover {
    color: greenyellow;
}

.rp-main-background-4 {
    background: url('../img/bg4.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.rp-main-background-4 a {
    color: blue;
}

.rp-main-background-4 a:hover {
    color: dodgerblue;
}

.rp-main-background-5 {
    background: url('../img/bg5.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.rp-main-background-5 a {
    color: darkgreen;
}

.rp-main-background-5 a:hover {
    color: forestgreen;
}

.dropdown-menu {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    margin-top: 15px;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.tooltip-inner {
    max-width: 350px;
    /* If max-width does not work, try using width instead */
    width: 350px;
}